* {
    padding : 0 ;
    margin : 0 ;
    box-sizing: border-box;
}
* button {
    cursor : pointer ;
}
body {
    background-image: url(img/background16.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* home page */
#header {
    width : 100vw ;
    height : 12vh ;
}

#header>ul {
    margin : 0 auto ;
    width : 90% ;
    height : 100% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn  {
    width : 6rem ;
    font-size: 4rem;
    position: relative;
    display :flex ;
    background  : none ; 
    justify-content : space-evenly ;
    border : none ;
    font-family:'Times New Roman', Times, serif ;
}
.btn * {
    color : rgba(255, 255, 255, 0.8) ;
    box-shadow:  0 0 0 2px rgb(255, 255, 255,.1) ;
}
.btn>p {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.I{
    position : absolute ;
    transform : translateY(0.5rem);
    color : red ;
}
.page {
    width  : 25rem ;
    /* margin-left: 30rem; */
    display : flex ;
    justify-content: space-evenly ;
}
.page button {
    width : 7rem ;
    height : 2.5rem ;
    color : black ;
    border-radius: 5rem;
    text-transform:uppercase;
    transition: all 0.5s ease-in-out;
}
.page button:hover {
    color : #fff ;
    background  : rgb(79, 135, 153) ;
}
.icon {
    width  : 6rem ;
    display :flex ;
    justify-content: space-between;
}
.icon button {
    width : 2.5rem ;
    height : 2.5rem ;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.icon button:hover {
    color : #fff ;
    background  : rgb(79, 135, 153) ;
}

 #root {
    width : 100vw ;
    height : 88vh ;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    
} 
 #root>ul {
    width : 80% ;
    display : flex ;
    align-items: center;
    justify-content: space-evenly ;
    align-self: center;
    border-radius: 12rem;
    overflow: hidden;
} 
 .Cleft {
    width : 50% ;
    height : 100% ;
    text-align: center;
    text-transform:uppercase;
    display : flex ;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color : white ;
} 
 .helo {
    width : 20vw ;
    height : 25vh ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    position: absolute;
    border-radius:1.5rem;
    box-shadow: 0 0 4px rgb(0, 159, 170);
    text-align:center;
    color : #fff ;
    font-size: 2rem ;
    overflow: hidden;
} 
.h-font{
    align-self: center;
    margin : auto 0px ; 
    background : white ;
    display: none;
}
.helo:hover .h-font {
    display: block;
    animation:forwards 300ms like;
}
.helo:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255) ;
}


.overscreen {
    width : 60vw ;
    height : 50vh ;
    background : gray ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.photo {
    width : 20vw ;
    height : 60vh ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
.info {
    width  : 40vw ;
    height : 26vh ;
    display:flex ;
    flex-direction: column;
    text-align: start;
    margin-left: 1vw;
}
.info p {
    margin : 1vh 0 ;
}
.ptex {
    width : 100% ;
    display: flex;
    justify-content: space-between;
}
#return {
    width : 2rem ;
    height: 2rem;
    border-radius: 4rem;

}

.newroot {
    width : 100vw ;
    height : 88vh ;
    display: grid ;
    place-items: center;
}
.about-me {
    width : 100% ;
    height : 100% ;
}
.about-me ul {
    width : 60rem ;
    height :100% ;
    display : flex ;
    flex-direction: row;
margin : 0 auto ;
}
.charcter-img  {
    width :35rem ;
    height: 100%;
    background-image :url(img/avatar\ face.jpg) ;
    background-position: center center;
    background-size: cover;
}
.charcter-info {
    width : 65% ;
    height : 100% ;
    display: flex;
    align-items: center;
    justify-content: start;
}
.charcter-info section {
width :  30rem ;
height : 32rem ;
background :rgb(0, 159, 170) ;
text-align: center;
}
.charcter-info section span {
    font-size: 4rem;
    margin-bottom : 2rem ;
    color : rgb(255, 255, 255) ;
}
.charcter-info section h3 {
    font-size: 3rem;
}
.cont {
    align-self: center;
    display : flex ;
    flex-direction: column;
}
.cont input {
    height : 3rem ;
    border-radius: 0.4rem;
    outline: none;
}
.verifyAlertInput , .verifyAlertTextarea {
position : absolute ;
color  : white  ;
transform: translate(40.8rem , 0.3rem) ;
border-radius  : 0.4rem ;
width : 12rem ;
height : 2.5rem ;
display: none;
}
.verifyAlertTextarea {
transform: translate(40.8rem , 4rem) ;
}
#one {
    width : 40rem ;
    height : 20rem ;
    min-width: 20rem;
    max-width : 60rem ;
    max-height : 25rem ;
    min-height: 15rem;
    margin : 0.2rem 0 ;
    outline: none;    
}
#submit {
    border-radius: 2rem;
}
#submit:hover {
    background :rgb(79, 135, 153) ;
    color : gold ;
}
#music {
    animation: infinite 3s music;
    display: none;
}
#slid {
    display : none ;
}
@keyframes music {
    0% {
        box-shadow: 0 0 2px 5px gold;
    }
    100% {
        box-sizing: 0 0 10px rgba(255, 102, 0, 0.849);
    }
}


  @media only screen and (max-width: 768px) {
    #slid {
        display : block ;
    }
    .photo {
        height: 40vh;
    }
    #one {
        width : 100vw;
        height : 20rem ;
        min-width: 20vw;
        max-width : 100vw ;
        max-height : 40rem ;
        min-height: 15rem;
        margin : 0.2rem 0 ;
        outline: none;    
    }
    #header>ul {
        justify-content: space-between; 
    }
    #root {
        z-index: 1;
    }
    .page {
        width : 100%;
        height : 30vh;
        position : absolute ;
        flex-direction: column;
        z-index : 5 ;
        display: none;
        transform: translate(-1.5rem , 10rem);
        background:rgb(79, 135, 153);
    }
    .page button {
        width: 100% ;
        margin-top: 2rem;
    }
}  

@keyframes like {
    0% {
        color : rgba(255, 255, 255) ;
        transform : translateY(-2rem);
    }
    10% {
        color : rgba(0, 0, 0, 0) ;
        transform : translateY(-2rem);
    }

    50% {
        color : rgb(0, 159, 170) ;
        transform : translateY(-1rem);
    }
    100% {
        color :rgb(0, 159, 170) ;
        transform : translateY(0rem);
    }
}
